[defaults]
host_key_checking = False
inventory = inventory_aws_ec2.yaml

enable_plugins = aws_ec2
remote_user = ec2-user
;private_key_file = /Users/edgar/.ssh/id_ed25519_aws_mac.pem
private_key_file = ~/.ssh/id_ed25519_aws_jenkins_tf.pem

;inventory = inventories/production/hosts.yaml
;roles_path = roles
;retry_files_enabled = False
;interpreter_python = auto_silent
;stdout_callback = default
;result_format = yaml
;collections_path = ./collections
;
;[privilege_escalation]
;become = True
;become_method = sudo
